@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@300..700&family=Raleway:ital,wght@0,100..900;1,100..900&display=swap');

*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}
header, body{
    max-width: 1158px;
    margin: 0 auto;
}


/* Navbar section starts here */
.navbar{
    padding: 0 5px 0;
    margin: 10px 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.menu-bar{
    font-size: 38px;
    padding-right: 10px;
}
.menu-bar, hr{
    display: none;
}
.logo{
    display: flex;
    align-items: center;
}
.logo h3{
    color: rgb(17, 17, 17);
    font-family: Quicksand;
    font-size: 2rem;
    font-weight: 700;
}
.nav-links ul{
    display: flex;
    align-items: center;
    gap: 2rem;
}
.nav-links ul li{
    list-style: none;
    font-size: 1.25rem;
    font-weight: 700;
    font-family: Quicksand;
    cursor: pointer;
}
.nav-links ul li a{
    text-decoration: none;
}
.home{
    color: rgb(254, 163, 1);
}
.about{
    color: rgb(1, 172, 253);
}
.facilities{
    color: rgb(5, 212, 223);
font-family: Quicksand;
}
.admission{
    color: rgb(93, 88, 239);
}
.contact button{
    padding: 10px 55px;
    border: none;
    border-radius: 12px;
    background: rgb(254, 163, 1);
    color: rgb(255, 255, 255);
    font-family: Quicksand;
    font-size: 1.25rem;
    font-weight: 600;
}

/* media query for navbar  */
@media screen and (max-width:576px) {
    .menu-bar{
        display: block;
    }
    .navbar{
        padding-bottom: 12px;
       border-bottom:1px solid rgb(254, 163, 1);
    }
    .logo h3, .nav-links ul, .contact{
        display: none;
    }
    .logo img{
        width: 90%;
    }
}

/* banner section starts here */
.banner-container{
    display: flex;
    justify-content: space-between;
    align-items: center;
    /* gap: 3rem; */
}
.banner-content{
    width: 50%;
}
.banner-title{
    font-family: Quicksand;
    font-size: 3.5rem;
    font-weight: 700;
}
.empowering{
    color: rgb(254, 163, 1);
}
.towards{
    color: rgb(1, 172, 253);
}
.banner-description{
    margin: 24px 0;
    color: rgb(17, 17, 17);
    font-family: Quicksand;
    font-size: 1.25rem;
    font-weight: 400;
}
.banner-btn{
    padding: 10px 55px;
    color: rgb(255, 255, 255);
    font-family: Quicksand;
    font-size: 20px;
    font-weight: 700;
    border: none;
    border-radius: 12px;
    background: rgb(17, 17, 17);
}
.banner-img img{
    width: 100%;
}
/* Media query for banner section */
@media screen and (max-width:576px) {
    .banner-container{
        flex-direction: column-reverse;
        justify-content: center;
        text-align: center;
        gap: 20px;
    }
    .banner-content{
        width: 100%;
    }

    .banner-img img{
        width: 90%;
    }
}